body {
    background-color: white; 
    color: #333333; 
    padding: 20px; 
}

h1 {
    text-align: center; 
}

input {
    width: 300px; 
    padding: 10px; 
    border: 1px solid white; 
    border-radius: 4px; 
}

button {
    padding: 10px 15px; 
    margin-left: 2px; 
    background-color: blue;
    color: white;
    border-radius: 4px; 
}

button:hover {
    background-color: blue; 
}



li {
    background-color: white; 
    margin: 10px 0; 
    padding: 10px; 
    border-radius: 4px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}



